{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Evolución Huella</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Municipio</th>
                        <th>Enero</th>
                        <th>Febrero</th>
                        <th>Marzo</th>
                        <th>Abril</th>
                        <th>Mayo</th>
                        <th>Junio</th>
                        <th>Julio</th>
                        <th>Agosto</th>
                        <th>Septiembre</th>
                        <th>Octubre</th>
                        <th>Noviembre</th>
                        <th>Diciembre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{municipio}}</td>
                        <td>{{enero}}</td>
                        <td>{{febrero}}</td>
                        <td>{{marzo}}</td>
                        <td>{{abril}}</td>
                        <td>{{mayo}}</td>
                        <td>{{junio}}</td>
                        <td>{{julio}}</td>
                        <td>{{agosto}}</td>
                        <td>{{septiembre}}</td>
                        <td>{{octubre}}</td>
                        <td>{{noviembre}}</td>
                        <td>{{diciembre}}</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}