<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Agente Municipal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <h1 class="title is-1 mt-3">Tu Huella</h1>
            <nav class="navegacion-principal">
                <a href="#">Link1</a>
                <a href="#">Link2</a>
                <a href="#">Link3</a>
            </nav>
        </div>
    </header>

    <main>
        <section>
            {{#if agenteMunicipal}}
            <h2 class="contacto title">
            Editar Agente Municipal
            </h2>
            {{else}}
            <h2 class="contacto title">
            Alta de Agente Municipal
            </h2>
            {{/if}}

            <form class="formulario" method="post">
                <fieldset>
                    <div class="campo">
                        <label>Usuario</label>
                        <input name="usuario" type="text" placeholder="Usuario" value="{{agente_municipal.usuario.nickname}}">
                    </div>

                    <div class="campo">
                        <label>Contraseña</label>
                        <input name="contrasenia" type="text" placeholder="Contraseña" value="{{agente_municipal.usuario.contrasenia}}">
                    </div>

                    <div class="campo">
                        <label>Nombre</label>
                        <input name="nombre" type="text" placeholder="Nombre" value="{{agente_municipal.nombre}}">
                    </div>

                    <div class="campo">
                        <label>Municipio</label>
                        <input name="municipio" type="text" placeholder="Municipio" value="{{agente_municipal.municipio}}">
                    </div>

                    <div class="enviar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
</body>

</html>