{{#partial "contenido" }}
<body>
    <main>
        <section>
            {{#if agenteProvincial}}
            <h2 class="contacto title">
            Editar Agente Provincial
            </h2>
            {{else}}
            <h2 class="contacto title">
            Alta de Agente Provincial
            </h2>
            {{/if}}

            <form class="formulario" method="post">
                <fieldset>
                    <div class="campo">
                        <label>Usuario</label>
                        <input required="required" required="required" name="usuario" type="text" placeholder="Usuario" value="{{agente_provincial.usuario.nickname}}">
                    </div>

                    <div class="campo">
                        <label>Email</label>
                        <input required="required" required="required" name="email" type="email" placeholder="Email" value="{{agente_provincial.usuario.email}}">
                    </div>

                    <div class="campo">
                        <label>Contraseña</label>
                        <input required="required" required="required" name="contrasenia" type="password" placeholder="Contraseña" value="{{agente_provincial.usuario.contrasenia}}">
                    </div>

                    <div class="campo">
                        <label>Nombre</label>
                        <input required="required" required="required" name="nombre" type="text" placeholder="Nombre" value="{{agente_provincial.nombre}}">
                    </div>

                    <div class="campo">
                        <label>Provincia</label>
                        <select required="required" required="required" id="provincias" name="provincia" type="text" placeholder="Provincia" value="{{agente_provincial.provincia}}">{{agente_provincial.provincia}}</select>
                        <button id="prov_generador" type="button" onclick="obtenerProvincias()">Cargar Provincias</button>
                    </div>

                    <div class="enviar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </section>
        <script src="/js/main.js"></script>
    </main>
</body>
{{/partial}}
{{> base.hbs }}