{{#partial "contenido" }}
<body>
    <main>
        <section>
            {{#if agenteMunicipal}}
            <h2 class="contacto title">
            Editar Agente Municipal
            </h2>
            {{else}}
            <h2 class="contacto title">
            Alta de Agente Municipal
            </h2>
            {{/if}}

            <form class="formulario" method="post">
                <fieldset>
                    <div class="campo">
                        <label>Usuario</label>
                        <input name="usuario" type="text" placeholder="Usuario" >
                    </div>

                    <div class="campo">
                        <label>Email</label>
                        <input name="email" type="email" placeholder="Email">
                    </div>

                    <div class="campo">
                        <label>Contraseña</label>
                        <input name="contrasenia" type="password" placeholder="Contraseña" >
                    </div>

                    <div class="campo">
                        <label>Nombre</label>
                        <input name="nombre" type="text" placeholder="Nombre" value="{{agente_municipal.nombre}}">
                    </div>

                    <div class="campo">
                        <label>Municipio</label>
                        <input name="municipio" type="text" placeholder="Municipio" value="{{agente_municipal.municipio}}">
                    </div>
                    <div class="campo">
                        <label>Provincia</label>
                        <select class="input-select" name="id_provincial">
                             <option>Seleccionar</option>
                                {{#each agente_provincial}}
                             <option value="{{id}}">{{provincia}}</option>
                                {{/each}}
                        </select>
                    </div>

                    <div class="enviar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
</body>
{{/partial}}
{{> base.hbs }}