<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Miembro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <h1 class="title is-1 mt-3">Tu Huella</h1>
            <nav class="navegacion-principal">
                <a href="#">Link1</a>
                <a href="#">Link2</a>
                <a href="#">Link3</a>
            </nav>
        </div>
    </header>


    <main>
        <section>
            {{#if miembro}}
            <h2 class="contacto title">Editar Miembro</h2>
            {{else}}
            <h2 class="contacto title">Alta de Miembro</h2>
            {{/if}}
            <form class="formulario" method="post">
                <fieldset>
                    <div class="campo">
                        <label>Usuario</label>
                        <input name="usuario" type="text" placeholder="Usuario" value="{{miembro.usuario.nickname}}">
                    </div>

                    <div class="campo">
                        <label>Contraseña</label>
                        <input name="contrasenia" type="text" placeholder="Contraseña" value="{{miembro.usuario.contrasenia}}">
                    </div>

                    <div class="campo">
                        <label>Email</label>
                        <input name="email" type="email" placeholder="Email" value="{{miembro.usuario.email}}">
                    </div>

                    <div class="campo">
                        <label>Nombre</label>
                        <input name="nombre" type="text" placeholder="Nombre" value="{{miembro.nombre}}">
                    </div>

                    <div class="campo">
                        <label>Apellido</label>
                        <input name="apellido" type="text" placeholder="Apellido" value="{{miembro.apellido}}">
                    </div>

                    <div class="campo">
                        <label>Calle</label>
                        <input name="calle" type="text" placeholder="Calle" value="{{miembro.domicilio.calle}}">
                    </div>

                    <div class="campo">
                        <label>Altura</label>
                        <input name="altura" type="number" placeholder="Altura" value="{{miembro.domicilio.altura}}">
                    </div>

                    <div class="campo">
                        <label>Tipo de Documento</label>
                        <select name="tipo_doc" class="mr-6">
                        {{!-- llevar tipoDoc a tabla aparte para poder listarlo desde db --}}
                            <option>DNI</option>
                            <option>LE</option>
                            <option>LC</option>
                            <option>Pasaporte</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label>Numero de Documento</label>
                        <input name="nro_doc" type="text" placeholder="Numero de Documento" value="{{miembro.numDoc}}">
                    </div>

                    <div class="campo">
                        <label>Teléfono</label>
                        <input name="telefono" type="text" placeholder="Teléfono" value="{{miembro.contacto.numTelefono}}">
                    </div>

                    <div class="enviar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                </fieldset>
            </form>

        </section>
    </main>
</body>

</html>