<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Huella</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<header class="header">
    <div class="contenedor contenido-header">
        <h1 class="title is-1 mt-3">Tu Huella</h1>
        <nav class="navegacion-principal">
            <a href="#">Home</a>
            <a href="#">Perfil</a>
            <a href="#">Logout</a>
        </nav>
    </div>
</header>


<main>
    <section>
        <h2 class="contacto title">{{organizacion.razonSocial}}</h2>

        <form class="formulario">
            <fieldset>

                <div class="campo">
                    <label>CUIT</label>
                    <small>{{organizacion.cuit}}</small>
                </div>

                <div class="campo">
                    <label>Razón Social</label>
                    <small>{{organizacion.razonSocial}}</small>
                </div>

                <div class = "campo">
                    <label>Tipo</label>
                    <small>{{organizacion.clasificacion.tipoOrganizacion}}</small>
                </div>

                <div class="campo">
                    <label>Clasificación</label>
                    <small>{{organizacion.clasificacion.clasificacion}}</small>
                </div>

                <div class="campo">
                    <label>Código Postal</label>
                    <small>{{organizacion.ubicacion.localidad}}</small>
                </div>

                <div class="campo">
                    <label>Calle</label>
                    <small>{{organizacion.ubicacion.calle}}</small>
                </div>

                <div class="campo">
                    <label>Altura</label>
                    <small>{{organizacion.ubicacion.altura}}</small>
                </div>

                <div class = "campo">
                    <label>Municipio</label>
                     <small>{{organizacion.agenteMunicipal.municipio}}</small>
                </div>

                <div class="enviar">
                    <button class="boton" type="button" onclick="window.location.href='/organizacion/editar/{{organizacion.id}}'">Editar</button>
                </div>
            </fieldset>
        </form>

    </section>
</main>


<footer class>
    <p>Escribir algo copado aca</p>
</footer>

</body>

</html>