{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Organizaciones</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Razón Social</th>
                        <th>Clasificacion</th>
                        <th>Tipo Organización</th>
                        <th>Huella de Carbono Mensual</th>
                        <th>Huella de Carbono Anual</th>
                    </tr>
                </thead>
                <tbody>
                {{#each organizacion}}
                    <tr>

                        <td>{{usuario.nickname}}</td>
                        <td>{{razonSocial}}</td>
                        <td>{{clasificacion.clasificacion}}</td>
                        <td>{{clasificacion.tipoOrganizacion}}</td>
                        <td>{{huellaCarbonoActualMensual}}</td>
                        <td>{{huellaCarbonoActualAnual}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}