{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Sectores</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                {{#each sector}}
                    <tr>
                        <td>{{nombre}}</td>

                        <td><button style="background-color: #77a785;" class="button is-primary" onclick="location.href='/organizacion/{{organizacion_id}}/sectores/{{id}}/miembros'">Ver Miembros</button></td>
                        <td><button style="background-color: #77a785;" class="button is-primary" onclick="location.href='/organizacion/{{organizacion_id}}/sectores/{{id}}/solicitudes'">Ver Solicitudes</button></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}
