{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Solicitudes</h2>
            <table class="table m-auto" method="post">
                <thead>
                    <tr>
                        <th>Nombre de Miembro</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>

                </thead>
                <tbody>
                {{#each solicitud}}
                    <tr>
                        <td>{{solicitante.nombre}}</td>
                        <td>{{fecha_creacion}}</td>
                        <td>{{estado}}</td>
                        <form method="post">
                         <input required="required" style="display:none;" name="respuesta" value= "1">
                          <input required="required" style="display:none;" name="id_solicitud" value= {{id}}>
                        <td><button style="background-color: #77a785;" type="submit"
                         class="button is-primary" >Aceptar</button></td>
                         </form>
                         <form method="post">
                         <input required="required" style="display:none;" name="respuesta" value= "0">
                         <input required="required" style="display:none;" name="id_solicitud" value= {{id}}>
                        <td><button style="background-color: #77a785;" type="submit"
                         class="button is-primary" >Rechazar</button></td>
                         </form>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}