{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Tramos</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Calle Inicio</th>
                        <th>Altura Inicio</th>
                        <th>Calle Fin</th>
                        <th>Altura Fin</th>
                        <th>Transporte</th>
                        <th>Es Compartido</th>
                    </tr>
                </thead>
                <tbody>
                {{#each tramo}}
                    <tr>
                        <td>{{inicioTramo.calle}}</td>
                        <td>{{inicioTramo.altura}}</td>
                        <td>{{finTramo.calle}}</td>
                        <td>{{finTramo.altura}}</td>
                        <td>{{transporte.tipo}}</td>
                        <td>No</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </main>

</body>
{{/partial}}
{{> base.hbs }}