{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Trayectos</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Calle Inicio</th>
                        <th>Altura Inicio</th>
                        <th>Calle Fin</th>
                        <th>Altura Fin</th>
                        <th>Agregar Tramo</th>
                        <th>Ver Tramos</th>
                    </tr>
                </thead>
                <tbody>
                {{#each trayecto}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{inicio.calle}}</td>
                        <td>{{inicio.altura}}</td>
                        <td>{{fin.calle}}</td>
                        <td>{{fin.altura}}</td>


                        <td><button style="background-color: #77a785;" class="button is-primary" onclick="location.href='/miembro/{{miembro_id}}/trayecto/{{id}}/tipo_transporte'">Agregar Tramo</button></td>
                        <td><button style="background-color: #77a785;" class="button is-primary" onclick="location.href='/miembro/{{miembro_id}}/trayecto/{{id}}/tramos'">Ver Tramos</button></td>
                    
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </main>

</body>
{{/partial}}
{{> base.hbs }}